body {
    background: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

p,
h1 {
    color: white;
    font-family: "Josefin Sans Light";
    text-align: center;
}

section#title h1 {
    padding: .5em 0 1em 0;
    margin: 0;
}

section#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 5em;
}

section#title h1 {
    font-size: 75px;
}

section#links p {
    font-size: 40px;
}